Q1

MongoDB is an open source NoSQL database management program in which non-relational document database storage provided like JSON .
MongoDB database has a flexible data model that enables you to store unstructered data.

Non-relational database or NoSQL is a database that does not use tabular schema of rows and columns 
found in most traditional database systems.
There are so many programs which provide non relational database like MongoDB ,cassandra ,Neo4j etc..

Q2

1.. Schema less database---
              In MongoDB database one collection can hold multiple documents and these documents
        may consist of a different numbers of fields,content and size. It is not necessary is 
        that one document is similar to another like in relational databases.
        
2.. Document Oreiented -- Here all the data stored in the documents instead of the tables, Data is stored in form of key-value pair.

3.. Indexing-- In MongoDB every field in the documents is indexed with primary and secondary indices this makes easier and takes
               less time to get or search data from pool of the data.
               
4.. Replication -- MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies
                   of the data and send this copies to a different server so that if one server fails then data is retrived from other.
                   
5.. High Performance-- The performance of MongoDB is very high and data persistence as compared to another database due to its features.

Q3

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 5.3 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 35.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://prajwal:pwskills@cluster0.74u7to7.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [3]:
db = client["feb17"]       # database created

In [4]:
coll_17 = db["assignment"]  # table created

Q4

In [5]:
data = {'name':"prajwal",
        'Batch':"Data science masters",
        "Faculty":["sudh sir","krish sir"]}

In [6]:
coll_17.insert_one(data)    #insert_one is used where data is in form of key-value pair and enclosed in a dictionary.

In [7]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [8]:
coll_17.insert_many(data2)    # insert_many is used when multiple data enclosed in list

In [9]:
coll_17.find_one()

{'_id': ObjectId('63f12c56c3a4b17729085546'),
 'name': 'prajwal',
 'Batch': 'Data science masters',
 'Faculty': ['sudh sir', 'krish sir']}

In [12]:
for i in coll_17.find():
    print(i)

{'_id': ObjectId('63f12c56c3a4b17729085546'), 'name': 'prajwal', 'Batch': 'Data science masters', 'Faculty': ['sudh sir', 'krish sir']}
{'_id': ObjectId('63f12d68c3a4b17729085549'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f12d68c3a4b1772908554a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f12d68c3a4b1772908554c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f12d68c3a4b1772908554d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f12d68c3a4b1772908554e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f12d68c3a4b1772908554f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f12d68c3a4b17729085550'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f12d68c3a4b17729085552'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f12d68c3a4b17729085553'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f13508c3a4b17729085559'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f13508c3a4b1772908555f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f13508c3a4b17729085562'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q5

find() method is uses to retrieve all the data from database, also we can give a query which acts like a filter to fetch only particular data.

suppose i want to fetch the data whose name is prajwal

In [13]:
for i in coll_17.find({"name":"prajwal"}):
    print(i)

{'_id': ObjectId('63f12c56c3a4b17729085546'), 'name': 'prajwal', 'Batch': 'Data science masters', 'Faculty': ['sudh sir', 'krish sir']}

Q6

sort() method specifies the order in which the query returns the matching document from the given collection. 

Syntax == collection_name.find().sort('field_name':pymongo.ASCENDING or DESCENDING)

here value is always 1 or -1 for ascending and descending order respectively.

In [14]:
asc = coll_17.find().sort("name",pymongo.ASCENDING)

In [15]:
for i in asc:
    print(i)

{'_id': ObjectId('63f12d68c3a4b17729085549'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f13508c3a4b1772908555f'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f12d68c3a4b1772908554d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f12d68c3a4b17729085553'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f12d68c3a4b1772908554a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f13508c3a4b17729085559'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f12d68c3a4b1772908554e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f12d68c3a4b1772908554c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f12d68c3a4b1772908554f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f12d68c3a4b17729085550'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f13508c3a4b17729085562'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f12d68c3a4b17729085552'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f12c56c3a4b17729085546'), 'name': 'prajwal', 'Batch': 'Data science masters', 'Faculty': ['sudh sir', 'krish sir']}

Q7

deleteOne() method deletes the first document from the collection that matches the given criteria.
we have 4 parameters to use to figure out what to remove from the collection.

Syntax -- db.collection_name.delete_one()


deleteMany() is a function for removing several items from a list.Pass an empty filter document{} to the db.collection.deleteMany() function to delete all documents from a collection.
we have to use filter here for the data which we want to remove.

Syntax: db.collection_name.deleteMany()

drop() method removes the collection from the database. It also removes all the indexes associated with the dropped collection.The drop method accepts an optional document.It returns true if the collection drop successfully.

Syntax: db.collection_name.drop({writeConcern:"document"})